name: Unit tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  unit-tests:
    env:
      TEST_ARGS: -v
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Build and Test
        working-directory: .
        run: make

      - uses: codecov/codecov-action@v4
        with:
          codecov_yml_path: ./coverage.txt
          token: ${{ secrets.CODECOV_TOKEN }}
