name: release

# triggered on pushing a tag
on:
  push:
    tags:
      - 'v*.*.*'

env:
  SMT_VER: ${{ github.ref_name }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Build and Test
        working-directory: .
        run: make

  create-release:
    name: Create GitHub Release
    needs:
      - build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Release SMT Version
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: 'true'
          tag: ${{ env.SMT_VER }}
          token: ${{ secrets.PAT }}
